.uinput {
    width: 15%;
    padding: 12px 20px;
    margin: 20px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;

    margin-left: 20px;
}

.error {
    width: 15%;
    padding: 12px 20px;
    margin: 20px 0;
    box-sizing: border-box;
    border: red 1px solid;
    background-color: #3CBC8D;
    color: white;

    margin-left: 20px;
}